* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  /* paddings */
  --mobile-padding: 2.4rem 2.4rem 0 2.4rem;
  --mainsection-padding: 2.4rem 2.4rem 9rem 2.4rem;
  --paragraph: 2.4rem 2rem 0rem 2.4rem;
  --box-padding: 2.5rem 1.2rem 1.9rem 2.5rem;
  --footer-padding: 6.5rem 0 4.2rem 3.9rem;

  /* desktop paddings */
  --desktop-padding: 6.5rem 8rem 0 8rem;
  /* colors */
  --dark-blue-color: #07043b;
  --gray: #615f7e;
  --arrow-color: #3da08f;
  --dark-purple: #575988;
  /* font-styles */
  --Raleway: "Raleway";
  --open-sans: "Open Sans";
}

header {
  padding: var(--mobile-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-nav {
  display: flex;
}
.header-nav li {
  margin: 1.4rem;
}
header img {
  width: 8rem;
  height: 2.4rem;
}

nav :is(a) {
  font-family: var(--Raleway);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--dark-blue-color);
  text-decoration: none;
}

/* main section */

.middle-section {
  display: flex;
  flex-direction: column;
  padding: var(--mainsection-padding);
  max-width: 75rem;
  margin: 0 auto;
}
.illustration {
  width: 100%;
  margin-top: 12.4rem;
}

.middle-section :is(h1, p) {
  color: var(--dark-blue-color);
  font-family: var(--open-sans);
}

.middle-section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  margin-top: 4rem;
}

.middle-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}
.enter-mail,
textarea {
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  height: 4rem;
  width: 100%;
}

::placeholder {
  font-family: var(--Raleway);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.4px;
  color: #c2c2c2;
  padding: 0 0 0 2rem;
}

.btn-1 {
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #ffffff;
  font-family: var(--Raleway);
  height: 4rem;
  margin-top: 2.4rem;
  border: none;
  width: 100%;
  transition: 0.3s;
}

.btn-1:hover {
  background: #6c9bff;
  cursor: pointer;
}
/* main div box */
.main-div {
  background: url(./images/bg-curve-mobile.svg) no-repeat center center/cover;
  padding-bottom: 8rem;
  position: relative;
}

.curve {
  position: absolute;
  width: 100%;
  top: -30px;
  left: 0;
  z-index: -1;
}

.imgcurve {
  width: 100%;
}

.illustration-2 {
  width: 100%;
  transform: translateY(10%);
  padding: 0 2.8rem 0 2.7rem;
}

/* main info description=============================== */
.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;
}
.main-info :is(h2) {
  font-family: var(--Raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: var(--dark-blue-color);
}

.main-info :is(p) {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  color: var(--gray);
  padding: var(--paragraph);
}

/* main info ends here============================================== */
.fylo-work {
  color: var(--arrow-color);
  padding: unset;
  display: Flex;
  align-items: center;
  margin-top: 3.2rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  transition: 0.3s;
}
/* hovers ver vaketeb ======== */
.main-info :hover .fylo-svg {
  stroke: #71dfcc;
  cursor: pointer;
}

.main-info:hover .fylo-work {
  color: #71dfcc;
}

.rect {
  background-color: var(--arrow-color);
  border-top: 1px solid var(--arrow-color);
  width: 12rem;
  margin-bottom: 4rem;
}

/* box content with avatar and founder================================== */
.box {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  border-radius: 3.93258px;
  padding: var(--box-padding);
  margin-top: 4rem;
  width: 80%;
  margin: auto;
}
.box :is(p) {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}

.box-content::before {
  content: url(./images/icon-quotes.svg);
  display: block;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.1rem;
}

.avatar img {
  width: 2.4rem;
  border-radius: 1.2rem;
  margin-right: 0.7rem;
}

.Founder h3 {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.45px;
  color: var(--dark-blue-color);
}

.Founder p {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 12px;
  letter-spacing: 0.3px;
  color: var(--dark-blue-color);
}

/* almost last sectionnn==================================== */

.almost-last {
  background: var(--dark-purple);
  padding: 5.4rem 4.7rem 8rem 4.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.almost-last h1 {
  font-family: var(--Raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-align: center;

  color: #ffffff;
}

.almost-last p {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: #ffffff;
}
.email-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-mail2,
textarea {
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
  border: none;
  border-radius: 1.47059px;
  height: 4rem;
  width: 100%;
}

::placeholder {
  font-family: var(--Raleway);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.4px;
  color: #c2c2c2;
  padding: 0 0 0 2rem;
}

.btn-2 {
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #ffffff;
  font-family: var(--Raleway);
  height: 4rem;
  border: none;
  width: 100%;
  margin-top: 0.8rem;
  transition: 0.3s;
}

.btn-2:hover {
  background: #6c9bff;
  cursor: pointer;
}

/* footer============================== */

footer {
  background: var(--dark-blue-color);
  padding: var(--footer-padding);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.footer-nav a {
  color: #ffffff;
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

li {
  margin-top: 1.6rem;
}

li :is(.phone, .example) {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}

.phone:before {
  content: url(./images/icon-phone.svg);
  margin-right: 1.9rem;
  height: 1.8rem;
}

.example::before {
  content: url(./images/icon-email.svg);
  margin-right: 1.9rem;
  height: 1.8rem;
}

.icons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.icons a {
  margin: 0px 5px;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #dfe4f0;
  border-radius: 50%;
}
.icons a > svg {
  position: absolute;
  fill: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-nav ul li > a:hover {
  color: #6c9bff;
}
.icons a > svg:hover {
  fill: #6c9bff;
  cursor: pointer;
}
.error-function p {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #ef4877;
}
.error-function {
  display: none;
}

.error-function2 {
  display: none;
}

.error-function2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #ffffff;
  display: flex;
  margin: 0;
}

.visible {
  display: block;
}

::-webkit-scrollbar {
  width: 2rem;
}
::-webkit-scrollbar-track {
  background: var(--dark-blue-color);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-purple);
  border-radius: 50vw;
}

/* desktop version================================ */

@media screen and (min-width: 1300px) {
  header {
    padding: var(--desktop-padding);
  }
  header img {
    width: 16.6rem;
    height: 4.9rem;
  }

  nav :is(a) {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  /* main desktop =============== */
  .middle-section {
    display: grid;
    padding: 0 8rem 0 8rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 16.5rem;
    max-width: unset;
    text-align: unset;
  }
  .illustration-div {
    grid-column: 2/3;
  }
  article {
    grid-row: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .middle-section h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    width: 62.7rem;
    text-align: left;
  }
  .middle-section p {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    width: 58.5rem;
    text-align: left;
  }

  .btn-1 {
    height: 4.5rem;
    width: 31%;
  }
  .enter-mail {
    height: 4.5rem;
    width: 50%;
    margin-right: 1.6rem;
  }

  /* main section============================ */

  .main-div {
    display: grid;
    padding: 0 8rem 8rem 8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-info {
    grid-row: 1/2;
    width: 100%;
    align-items: flex-start;
    margin-top: 12rem;
  }
  .illustration-2 {
    grid-row: 1/3;
    grid-column: 2;
    align-items: center;
    margin-top: 10rem;
  }

  .main-info h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    width: 65rem;
  }
  .main-info p {
    text-align: left;
    width: 529px;
    padding: 2.4rem 0 0 0;
  }
  .rect {
    margin-left: 0;
  }

  .box {
    margin-left: 0;
    width: 50%;
  }
  .founder h3 {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
  }
  .avatar img {
    width: 3.2rem;
    border-radius: 1.6rem;
  }

  /* almost last================================ */
  .almost-last {
    padding: 10rem 0 8.5rem 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .email-section {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  .sign-up-info :is(h1, p) {
    text-align: left;
    width: 65%;
  }
  .enter-mail2 {
    width: 70%;
  }
  .btn-2 {
    width: 20rem;
  }

  /* footer section ===================================== */
  footer {
    padding: 9.2rem 26.6rem 8.6rem 9.2rem;
  }
  footer svg {
    margin-bottom: 13px;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
